{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}



{% block main %}
    <h1>Catgory List Page</h1>
    <p>category: {{ category }}</p>
    <div>
        <div>
            <ul>
                <li><a href="{% url 'meal:mealList' category %}?q=rating">Rating</a></li>
                <li><a href="{% url 'meal:mealList' category %}?q=date">Date</a></li>
                <li><a href="{% url 'meal:mealList' category %}?q=country">Country</a></li>
            </ul>
        </div>

        {% for meal in meals %}
            <div>
                <a href="{% url 'meal:mealDetail' meal.id %}">
                    <span>{{ meal.getAvgRating|floatformat }}/</span>{{ meal.name }} : <span>{{ meal.dateAdded }}</span><span>/ meal time: {{ meal.typicalMealTime }}</span> / <span>country: {{ meal.countryOfOrigin }}</span>
                </a>
            </div>
        {% endfor %}

    </div>
{% endblock main %}