{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load calc_ratio %}



{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="d-flex">
                <h1>{{ meal.name }}</h1>
                <div class="px-3 d-flex">
                    <div class="star-ratings-sprite mt-3">
                        <span class="star-ratings-sprite-rating w-{{ meal.getAvgRating|calcRatio }}"></span>
                    </div>
                    <div class="px-2 align-middle">
                        <h4 class="mt-3">{{ meal.getAvgRating|floatformat }} ({{ meal.numberOfVotes }})</h4>
                    </div>
                </div>
            </div>

            <div class="text-center mt-3 w-50">
                <img class="img-fluid" src="https://recursionist.io/img/dashboard/lessons/quickstart/{{ meal.imageUrl }}" alt="Meal img">
            </div>

            <div class="row mt-5">
                <div class="col-8 mx-auto">
                    <p>{{ meal.description|linebreaksbr }}</p>
                    <h3 class="mt-3">Rating</h3>
                    <div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="d-flex justify-content-around">
                                <h5 class="">{{ form.rating }}　<span id="rating-display" class="h2 pl-3">3</span></h5>

                                <div>
                                    <button type="submit" class="btn btn-primary">Vote</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}


{% block extrajs %}
    <script type="text/javascript" src="{% static 'assets/js/rating.js' %}"></script>
{% endblock extrajs %}
