html {
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    box-sizing: inherit;
}

h1 {
    margin: 0;
}

/* a要素のテキストカラーを継承する */
a {
    color: inherit;
    text-decoration: none;
}

/* main要素にoverflow-x:hiddenを指定する */
main {
    overflow-x: hidden;
}

.bg-antique {
    background-color: rgb(255, 249, 241);
}

.card-image {
    overflow: hidden;
    aspect-ratio: 4/3;
}

.card-image img {
    width: 100%;
    height: auto;
}

.card-image:hover {
    transform: scale(1.2);
    transition: .5s ease;
}

.zoom {
    overflow: hidden;
}

.underline a{
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.underline a::after{
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.underline a:hover::after{
transform: scale(1, 1);
}

.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}

.category {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0);

}


/* star rating */

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}
.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}