{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'assets/img/logo.png' %}" alt="" height="112">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'meal:mealList' 'morning' %}">Morning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'meal:mealList' 'afternoon' %}">Afternoon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'meal:mealList' 'evening' %}">Evening</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'meal:mealList' 'recently' %}">Recently</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'meal:mealList' 'topRate' %}">Top Rated</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <p>{{ user.username }}</p>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>